.list {
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.item {
	margin: 0 auto;
}
.menu_list{
	margin-top: 20px;
	//width: 100%;
	overflow-x: 'scroll';
	white-space: "nowrap";
	display: flex;
	justify-content: left;
	gap: 3px;
	margin-left: 380px;
	.menu_list_item{
		background-color: #E4FDBC;
		border-radius: 12px;
		width: 300px;
		height: 40px;
		color: #000000;
		text-align: center;
		padding: 6px 7px;
	}
}
.text_menu{
	margin-left: 380px;
	margin-top: 30px;
}