.list {
	display: grid;
	grid-template-columns: repeat(2,200px);
}
.item {
	
	//margin: 0 auto;
}
.menu_list{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: left;
	gap: 3px;
	overflow-x: auto;
	white-space: nowrap;
	.menu_list_item{
		background-color: #E4FDBC;
		border-radius: 12px;
		width: 200px;
		
		height: 60px;
		color: #000000;
		text-align: center;
		padding: 13px 7px;
	}
}
.text_menu{
	margin-top: 30px;
	margin-left: 10px;
}
.newprod_list{
	overflow-x: auto;
	display: flex;
	width: 100%;
	gap: 5px;
	margin-top: 20px;
	.newProd{
		width: 300px;
		background:#2B1011;
		display: flex;
		flex-direction: row;
		.descrip{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.new_img{
			width: 80px;
			margin: 0 40px 0 20px;
	}
}
}
.text_new{
	margin-top: 80px;
}