.product {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 170px;
    text-align: center;
    margin: 0 auto;
}
// .img {
// 	width: 100%;
// 	background: lightgray;
// 	height: 100px;
// 	margin: 0 auto;
// 	//background: var(--tg-theme-button-color);
// }
.title{
    margin-top: 5px;
    font-size: 18px;
    font-family: "Alegreya", serif;;
}
.description {
    margin-top: 24px;
	font-size: 0.8em;
    color: #C4C4C4;
}
.add-btn {
	width: 100%;
}