@import url(https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#000000;
  color: #FFFFFF;
  font-family: "Alegreya", serif;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  width: 0;
}
